<section class="user_info">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
</section>
<p>Location: <%= @user.location.present? ? @user.location : "--no-data--" %></p>

<p><%= link_to "ツイート", @user %> | 
<%= link_to "フォロー", followings_user_path(@user) %> | 
<%= link_to "フォロワー", followers_user_path(@user) %></p>